@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

*::selection {
  background-color: #F5BA4B;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.text-1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.7rem;
  width: 100%;
  max-width: 62%;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.72);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li:not(:last-child) {
  padding-right: 3rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.72);
  font-weight: 600;
}

.logo {
  height: 6.2rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/Mera-resturant-outdoor.png);
  background-size: cover;
  background-position: center bottom;
  padding: 2rem 4rem;
}

footer {
  width: 100%;
  background-color: #233442;
  height: 25vh;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .logo1 img {
  margin-bottom: 2rem;
}

footer .ul1 {
  padding-right: 9rem;
}

footer .ul1 li {
  padding-bottom: 2rem;
}

footer .ul2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .ul2 li:not(:last-child) {
  padding-right: 2rem;
}

.grid-menu {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  padding: 2rem 2rem;
  gap: 2rem;
}

.box {
  background-color: red;
  background-size: cover;
  position: relative;
  letter-spacing: 2px;
  transition: all .3s ease-in-out;
}

.box h1 {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.68);
  font-family: 'Yusei Magic', sans-serif;
  text-transform: uppercase;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.6);
}

.box-1 {
  background-position: right center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/pizza.jpg);
}

.box-2 {
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/salat.jpg);
}

.box-3 {
  background-position: left center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/drinks.jpg);
}

.box-4 {
  background-position: bottom;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/pasta.jpg);
}

.box-5 {
  background-position: bottom;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/burger.jpg);
}

.box-6 {
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/seafood.jpg);
}

.box-6 h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-7 {
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/appetizer-1386743_1920.jpg);
}

.box-8 {
  background-position: bottom;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/strawberry-cake-3411540_1920.jpg);
}

.box-9 {
  background-position: center center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/beef-tongue-5143857_1920.jpg);
}

.box-9 h1 {
  font-size: 3rem;
}

.box-10 {
  background-position: bottom;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/soup-2538888_1920.jpg);
}

.über-uns {
  color: black;
  margin: 2rem 2rem;
  background-color: #f4efe6 !important;
  position: relative;
  z-index: -1;
  height: 100%;
}

.über-uns .über {
  width: 220px;
  height: 40px;
  background-color: #da9d66;
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.über-uns h1 {
  padding: 2rem 0;
  text-align: center;
  font-size: 4rem;
  z-index: 1;
}

.secnd {
  display: flex;
  justify-content: center;
  margin: 0 5% 0 10%;
  padding-top: 2rem;
}

.secnd p {
  font-size: 2.5rem;
  padding-left: 4rem;
  max-width: 600px;
}

.secnd img {
  height: fit-content;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.info {
  color: black;
  padding: 2rem 2rem;
}

.info .text-section ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.info .text-section ul li {
  max-width: 33%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.info .text-section ul li img {
  margin-right: 2rem;
}

.info .text-section ul li .text h1 {
  padding-bottom: .5rem;
}

.info .text-section ul li .text p {
  opacity: .75;
}

.info .map {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1117px) {
  .text-1 h1 {
    font-size: 4rem;
  }
  .box-6 h1 {
    width: auto;
    font-size: 3rem;
  }
  .grid-menu {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 33.3%);
    padding: 2rem 2rem;
    gap: 2rem;
  }
  .box-10 {
    display: none;
  }
}

@media screen and (max-width: 858px) {
  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .secnd img {
    height: 30rem;
  }
  .secnd p {
    font-size: 1.7rem;
  }
  .text-section {
    font-size: 1rem;
  }
  .grid-menu {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 20%);
    padding: 2rem 2rem;
    gap: 2rem;
  }
  .box-10 {
    display: block;
  }
  .über-uns {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 697px) {
  header {
    padding: 2rem 0 !important;
  }
  .logo {
    padding-left: 4rem;
  }
  .navbar {
    position: relative;
  }
  .navbar ul {
    position: fixed;
    background-color: #334f66;
    height: 40vh;
    z-index: 3;
    width: 100%;
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    clip-path: circle(50px at 90% 0%);
    -webkit-clip-path: circle(50px at 90% 0%);
    -moz-clip-path: circle(50px at 90% 0%);
    -ms-clip-path: circle(50px at 90% 0%);
    transition: all 1s ease-out;
  }
  .navbar ul li {
    margin-left: 2rem;
    margin-top: 4rem;
  }
  .navbar ul li:first-child {
    margin-top: 8rem;
  }
  .navbar ul.open {
    clip-path: circle(200% at 90% 0%);
    -webkit-clip-path: circle(200% at 90% 0%);
    -moz-clip-path: circle(200% at 90% 0%);
    -ms-clip-path: circle(200% at 90% 0%);
    pointer-events: all;
  }
  .navbar .line {
    transition: all .4s ease-in-out;
  }
  .navbar .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .navbar .toggle .line2 {
    opacity: 0;
  }
  .navbar .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navbar .hamburger {
    position: absolute;
    right: 5%;
    z-index: 6666;
    cursor: pointer;
  }
  .navbar .line {
    width: 3rem;
    height: 0.3rem;
    margin: 0.5rem;
    background-color: white;
  }
  .navbar .logo {
    height: 6.2rem !important;
    margin-bottom: 2rem;
  }
  .navbar a {
    white-space: nowrap !important;
  }
  .text-1 h1 {
    font-size: 3.3rem;
  }
  .btns {
    position: absolute;
    top: 60% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .secnd {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 5%;
  }
  .secnd img {
    height: 40rem;
  }
  .secnd p {
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .text-section ul {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .text-section ul li {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100% !important;
  }
  .text-section ul li:not(:last-child) {
    margin-bottom: 4rem;
  }
  .text-section ul li h1 {
    font-size: 2rem !important;
  }
  .text-section ul li p {
    font-size: 1.4rem !important;
  }
  footer {
    padding: 2rem;
  }
  footer p {
    max-width: 16rem;
  }
  .ul1 {
    padding-right: 9rem;
  }
  .ul1 li {
    padding-bottom: 2rem;
  }
  .ul2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ul2 li:not(:last-child) {
    padding-right: 2rem;
  }
  .ul1 {
    padding: 0 1rem !important;
  }
  .ul2 {
    flex-direction: column;
  }
  .ul2 li {
    padding-right: 0 !important;
    margin-bottom: 1rem;
  }
  .box-7 h1, .box-8 h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 456px) {
  .text-1 {
    width: 100% !important;
    max-width: 90% !important;
  }
  .box-3 h1 {
    font-size: 3rem;
  }
  .secnd img {
    height: 80vw;
  }
  footer {
    height: fit-content;
    flex-wrap: wrap;
  }
  footer .logo1 p {
    line-height: 1.7;
  }
  footer .ul1 {
    margin-top: 1rem;
  }
  footer .ul2 {
    flex-direction: row;
    margin-top: 1rem;
  }
  footer .ul2 li {
    margin-right: 2rem;
  }
  .map {
    width: 100%;
  }
  .btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-1 {
    margin-top: 10rem !important;
    margin-right: 0rem !important;
    width: 60% !important;
  }
  .btn-2 {
    margin-top: 2rem !important;
    margin-left: 0rem !important;
    width: 60% !important;
  }
  .grid-menu {
    display: grid;
    width: 100%;
    height: 130vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 15%);
    padding: 2rem 2rem;
    gap: 2rem;
  }
  .über-uns {
    margin-top: 50rem;
  }
  .btns {
    position: absolute;
    top: 70% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-1 h1 {
    font-size: 3rem;
  }
  .box-10 {
    display: none;
  }
}

.btns {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gld-button {
  border-radius: .8rem !important;
  font-family: 'Montserrat', sans-serif;
}

.btn-1 {
  margin-right: 2rem;
}

.btn-2 {
  margin-left: 2rem;
}

.gloriafood-button,
.gld-button {
  display: inline-block;
  padding: 20px;
  margin: 2px;
  box-sizing: border-box;
  margin-right: 2rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #fff !important;
  text-decoration: none !important;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #ef8b17;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  transition: filter 0.4s ease-out;
}

.gloriafood-button.reservation,
.gld-button.reservation {
  background-color: #334f66;
  margin-left: 2rem;
  margin-right: 0rem;
}

.gloriafood-button:hover,
.gld-button:hover {
  filter: brightness(110%);
  color: #fff !important;
  text-decoration: none !important;
}

.gloriafood-button.reservation:hover,
.gld-button.reservation:hover {
  filter: brightness(110%);
}

.gloriafood-button:active,
.gld-button:active {
  color: #fff !important;
  text-decoration: none !important;
}

/** STATIC - END **/
/** DYNAMIC - BEGIN **/
.gld-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999997;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .15s linear;
}

.gld-backdrop-visible {
  background-color: rgba(0, 0, 0, 0.35);
}

.gld-preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.gld-preloader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 15px rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  animation: gld -spin 1s infinite linear;
  transform-origin: 50%;
}

@keyframes gld-spin {
  100% {
    transform: rotate(360deg);
  }
}

/** DYNAMIC - END **/
/*# sourceMappingURL=main.css.map */